*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#nav{
    overflow: hidden;
    height: 3vw;
    width: 100%;
    background-color: #555C62;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

}
#nav i {
    padding: 20px 20px;
justify-content: space-evenly;
color: white;
border-right: 1px solid white;
}
 #two{
    border-left: 1px solid white;
    padding-left: 20px;
}
#three{
    display: none;
}
#nav1{
display: flex;
gap: 50px;
align-items: center;
}
#nav1 a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    width: 100px;
    border-right: 1px solid white;
    padding: 20px 10px;
}
#main{
    height: 100%;
    width: 100%;
    background-color: aqua;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1610625679301-38642e0a60bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-position: center;
     overflow: hidden;
    background-size: cover;
}

#main img{
   
    height: 80px;
    width: 100px;
    justify-content: center;
 margin-top: 30px;
 margin-left: 560px;
    position: absolute;

}
#center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#center h3{
    display: flex;
    margin-top: 150px;
    font-size: 20px;
  letter-spacing: 9px;
  color: white;
  margin-bottom: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
padding-top: 8px;
padding-bottom: 8px;
}
#center h1{
    font-size: 100px;
    margin-top: 20px;
    display: flex;
    letter-spacing: 19px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
line-height: 80px;
    
}

@media (max-width:600px){
    #nav{
           width: 100%;
            height: 5vh;
    }
    
    #nav1 a{
        display: none;
    }
    #two{
        display: none;
    }
    #three{
        display: block;
        border-left: 1px solid white;
    }
    #main img{
 
       right:38%;
       align-items: center;

    
    }
    #center h3{
        display: flex;
        margin-top: 150px;
        font-size: 3vw;
      letter-spacing: 9px;
      color: white;
      margin-bottom: 10px;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    }
    #center h1{
        font-size: 10vw;
        margin-top: 5vw;
        display: flex;
  align-items:center ;
  justify-content: center;
        color: white;
        margin-right: 12px;
letter-spacing: 10px;

    line-height: 5vw;
  
        
    }
}
